{% extends 'termsOfService.html' %}


{% block head %}
<h3 data-aos="fade-up">CAREERS</h3> 
       

{% endblock %}





{% block bodie %}

   <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           	<h5 class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		1. Chief Operating Officer (COO) <br>
           		2. Social media expert
           	</h5>
           	
           	<p class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<ul>
           		<h4 style="color:skyblue">1. Chief Operating Officer (COO)</h4>
           			<li> 
           			  To succeed in this role;
           			  As COO, you will be in charge of the company's work flow/work processes, ensure fluid daily operations,
           			   and serve as a cohesive leader, linking all departments to ensure smooth work flow within the company.  
           			</li>
           			<li>
           			 Basic Knowledge of web development is required.
           			</li>
           			<li>
           			Some experience with real estate within cities with tertiary institutions.
           			</li> 
           			<li>
           			Job location: Federal Polytechnic Nasarawa Town, Tammah, Nasarawa State.
           			</li>
           			<li>
           			Reporting line:  Reports directly to the CEO.
           			</li>	
           		</ul>
           		
           		<ul>
           		<h4 style="color:skyblue">2. Social media expert</h4>
           			<li> 
           			  To succeed in this role;
           			  You will need to be a "talker" and be vibrant. 
           			</li>
           			<li> 
           			  Good working knowledge of pageSense, Zohomail, zohoExpense and CRM. 
           			</li>
           			<li> 
           			  Ability to champion marketing strategies and designs. 
           			</li>
           			<li> 
           			  Basic use of chatGPT. 
           			</li>			 
           			
           		</ul>
           		Send a mail to <button class="btn btn-success">neku@enema.ng</button>with your resume attached. Only resume is
           		 required.	
           	</p>
           	
         </div> 
{% endblock %}









