{% extends 'index.html' %}


{% block title %}<title> Enema - Roomy type ({{school.name}}) </title>{% endblock title %}
{% block content %}

<section id="hero" class="hero d-flex align-items-center">
    <div class="container">
    	<div class="row" ><!--row starts-->
    	
    		<div class="col-12"><!--Header-->
    			{% block fortypeofroomy %}
    			    <h4 data-aos="fade-up">What best describes your situation ?</h4> 
    			{% endblock fortypeofroomy %}
    		
    			
    					<!--FLash message code-->
    					{% if messages %}
        				{% for message in messages %}
        				<p class="col-6" {% if message.tags %} class="alert alert-success{{message.tags}}"{% endif %}
        					style="background-color:pink;color:black;border-radius:5px;padding:2vh;text-align:center" >
        		 			{{message}} 
        		 		</p>
        				{% endfor %}
        				{% endif %}
        				<!--end of flash message code-->
    		</div><!--Header ends-->
    		
    		
    		<div class="col-12">
    			<a href="{% url 'host_partimer' school.name %}">
    			<button class="btn btn-success">I want to host a student</button>
    			</a>
    			
    			&nbsp;
    			
    			<a href="{% url 'hosts_grid' school.id %}">
    			<button class="btn btn-success">I need a student to host me</button>
    			</a>
    		
    		</div>
    		
    		
    		
    		
    		
    		
    	</div><!--row ends-->
    
    </div><!--container ends-->
</section>

{% endblock %}  
