<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  {% block title %}<title> Enema - Home</title>{% endblock title %}
  
  <meta content="Neku Theo (Co-founder and CEO), Enema corporations." name="author">
  <meta content="Welcome to Enema, Nigeria's first student-based tech company. We verify, you rent." name="description">
  <meta content="student accomodation, student housing, housing in nigerian schools" name="keywords">

  <!-- Favicons -->
  {% load static %}
  <link href="{% static 'assets/img/enemalogo.png' %}" rel="icon">
  

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  
 
  	<meta name="twitter:card" content="summary" />
        <meta name="twitter:site" content="@enema.ng" />
        <meta name="twitter:url" content="https://www.enema.ng/" />
        <meta name="twitter:title" content="Quick accomodation - Student Lodges | Room mates" />
        <meta name="twitter:description" content="Welcome to Enema, Nigeria's first student-based tech company. We verify, you rent." />
        <meta name="twitter:image" content="{% static 'assets/img/enemalogo.png' %}" />
 
 	<meta name="whatsapp:card" content="summary" />
        <meta name="whatsapp:site" content="@enema.ng" />
        <meta name="whatsapp:url" content="https://www.enema.ng/" />
        <meta name="whatsapp:title" content="Quick accomodation - Student Lodges | Room mates" />
        <meta name="whatsapp:description" content="Welcome to Enema, Nigeria's first student-based tech company. We verify, you rent." />
        <meta name="whatsapp:image" content="{% static 'assets/img/enemalogo.png' %}" />
        
        <meta name="facebook:card" content="summary" />
        <meta name="facebook:site" content="@enema.ng" />
        <meta name="facebook:url" content="https://www.enema.ng/" />
        <meta name="facebook:title" content="Quick accomodation - Student Lodges | Room mates" />
        <meta name="facebook:description" content="Welcome to Enema, Nigeria's first student-based tech company. We verify, you rent." />
        <meta name="facebook:image" content="{% static 'assets/img/enemalogo.png' %}" />
        
        


  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">
  <link href="{% static 'assets/vendor/aos/aos.css' %}" rel="stylesheet">


  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
  

  <!-- =======================================================
  * Author: Neku Theo
  * Date: 19th December, 2022.
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="{% url 'index' %}" class=" d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
       
        <img src="{% static 'assets/img/enems.png' %}" class="img-fluid" alt="enema"height="100vh"width="80vw"> 
        
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar" >
        <ul >
          <li><a href="{% url 'selectschool2Clodges' %}" class="active" >Lodges</a></li>
          <li><a href="{% url 'selectschool' %}" class="active" >Room mates</a></li>
          <li><a href="{% url 'selectschool4hosting' %}" class="active">Student hosting</a></li>
         
          <li><a href="{% url 'index' %}" >Home</a></li>
          <li><a href="#about">About</a></li>       
          
          <li><a href="{% url 'agent_reg' %}">Agent Registration</a></li>
          <li><a href="{% url 'agent_login' %}">Agent Login</a></li>
          <li><a href="https://api.whatsapp.com/send/?phone=2348165408132&text=Hello.+Lets+talk+https%3A%2F%2Fwww.enema.ng%2F&type=phone_number&app_absent=0">Chat with us</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->
{% block content %}
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        
          <h2 data-aos="fade-up">Fast and seamless Lodging </h2> 
          
 	<h3 data-aos="fade-up">Lodges are available within your city. Select your school below.</h3><span data-aos="fade-up"><b></b></span> 
 	<!--FLash message code-->
    					{% if messages %}
        				{% for message in messages %}
        				<p class="col-6" {% if message.tags %} class="alert alert-success{{message.tags}}"{% endif %}
        					style="background-color:pink;color:black;border-radius:5px;padding:2vh;text-align:center" >
        		 			{{message}} 
        		 		</p>
        				{% endfor %}
        				{% endif %}
        <!--end of flash message code-->
 	
 	
 	
 	
 	

          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           
{% for i in schools %}
            <div class="col-lg-3 col-6">
              <div class="">
                <a href="{% url 'property_grid' i.id %}"><button  class="btn btn-success"style="border-color:white;">{{i.name}}</button></a>
               
              </div>
            </div><!-- End Stats Item -->
{% endfor %}    
         </div> 
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/banner.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->

  <main id="main">
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container" style="margin-bottom:20vh" >
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        
          <h2 data-aos="fade-up">Get a Room Mate Asap!</h2> 
          <h4 data-aos="fade-up" data-aos-delay="100">You are one step away from meeting your Roomy </h4>
      	
 	<a href="{% url 'selectschool' %}"><button class="btn btn-success col-6" data-aos="fade-up"><b>Click here</b></button></a> 
	</div>
      </div>
    </div>
 </section>
 
 <section id="hero" class="hero d-flex align-items-center">
    <div class="container" style="margin-bottom:20vh" >
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        
          <h2 data-aos="fade-up">Host a new or part-time student</h2> 
          <h4 data-aos="fade-up" data-aos-delay="100">As a student, hosting another student could fetch you some weekly income.</h4>
      	
 	  <a href="{% url 'selectschool4hosting' %}"   
 	><button class="btn btn-success col-6" data-aos="fade-up"><b>Hosting room</b></button></a> 
	</div>
      </div>
    </div>
 </section>
 
 
    
  </main><!-- End #main -->
{% endblock content %}
  <!-- ======= Footer ======= -->
  <footer id="footer" class="footer">

    <div class="container">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-info">
          <a href="{% url 'index' %}" class="logo d-flex align-items-center">
            <span id="about" >About Us</span>
          </a>
          <p>
           At Enema, we ensure students find the right apartment based on proximity to school, budget, and other factors. We also serve 
           as a linkage between students who are in need of a room mate.
           </p>
          <div class="social-links d-flex mt-4">
            <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
            <a href="https://www.linkedin.com/company/enema-nigeria/" class="linkedin"><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-12 footer-links">
          <h4 >Terms and policies</h4>
          <ul>
            
            <li><a href="{% url 'terms_of_service' %}">Terms of service</a></li>
            <li><a href="{% url 'privacypolicy' %}">Privacy policy</a></li>
           
          </ul>
        </div>
        <div class="col-lg-2 col-12 footer-links">
          <h4 >Pricing Plans</h4>
          <ul>
            <li><a href="{% url 'pricing' %}"> View rates per service</a></li>
            
          </ul>
        </div>
        
        <div class="col-lg-2 col-12 footer-links">
          <h4 >Team and Careers</h4>
          <ul>
              <li><a href="{% url 'careers' %}">Careers</a></li>
               <li><a href="{% url 'meet_d_team' %}">Our Team</a></li>
          </ul>
        </div>


         

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4 id="contact">Contact Us</h4>
          <p>
            The Cans, IBB Boulevard<br>
            Maitama, 901101, Abuja<br>
            Nigeria. <br><br>
            <strong>Phone:</strong> +2348165408132<br>
            <strong>Business email:</strong> info@enema.ng<br>
            <strong>Support email:</strong> support@enema.ng<br>
          </p>

        </div>

      </div>
    </div>

    <div class="container mt-4">
      <div class="copyright">
        <strong><span>www.enema.ng</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        
        &copy; 2023<a> Enema corporations </a>
      </div>
    </div>

  </footer><!-- End Footer -->
  <!-- End Footer -->

  <a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <div id="preloader"></div>
  
   <!--jquery-->
  <script src="{% static 'assets/js/jquery.min.js' %}"></script>
  
  <!--sweet alert-->
  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  
  
  
  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/purecounter/purecounter_vanilla.js' %}"></script>
  <script src="{% static 'assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'assets/vendor/aos/aos.js' %}"></script>
 
  
  

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %}"></script>
  {% block js %}
  
  {% endblock js %}

</body>

</html>
