{% extends 'termsOfService.html' %}
{% load static %}

{% block head %}
<h3 data-aos="fade-up">Our Dedicated Team</h3> 
       

{% endblock %}





{% block bodie %}

   <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           	<h5 class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		 
           	</h5>
           	
           	<div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<div class="col-lg-12">
           		<img src="{% static 'assets/img/co1.png' %}" class="img-fluid" alt="enema"height="400vh"width="400vw"
           		style="border-radius:10%"> 
           		
           		</div> 
           		<span style="color:white">Neku Theo, CEO and Co-founder.</span>
           		 
           	</div>
           	<div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<div class="col-lg-12">
           		<img src="{% static 'assets/img/co2.png' %}" class="img-fluid" alt="enema"height="350vh"width="400vw"
           		style="border-radius:10%"> 
           		
           		</div> 
           		<span style="color:white">Cornelius Idenyi, President and Co-founder.</span>
           		 
           	</div>
           	<div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<div class="col-lg-12">
           		<img src="{% static 'assets/img/hr.png' %}" class="img-fluid" alt="enema"height="350vh"width="400vw"
           		style="border-radius:10%"> 
           		
           		</div> 
           		<span style="color:white">Jemimah Abdul, Head of Finance.</span>
           		 
           	</div>
         </div> 
{% endblock %}









