{% extends 'termsOfService.html' %}


{% block head %}
<h3 data-aos="fade-up">PRIVACY POLICIES</h3> 
          
 	<h4 data-aos="fade-up">	Please, kindly ensure you have read the document below before proceeding to using our platform.</h4> 

{% endblock %}





{% block bodie %}

   <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           	<h5 class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		1. Agents <br>
           		2. Room mates
           	</h5>
           	
           	<p class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<ul>
           		<h4 style="color:skyblue">1. Agents</h4>
           			<li> 
           			    Please be informed that, Enema corporations will not in anyway whatsoever, share the private details of 
           			    agents to the general public. This includes phone number, address, ID details and email addresses. 
           			</li>
           			 
           			
           		</ul>
           		<ul>
           		<h4 style="color:skyblue">2. Room mates</h4>
           			<li> 
           			      Please be informed that, Enema corporations will not in anyway, share the private details of room
           			       mates to the general public. This includes phone number(s) and email address(es). 
           			</li>	 
           			
           		</ul>
           			
           	</p>
           	
         </div> 
{% endblock %}












