{% extends 'roomates_grid.html' %}
{% load static %}

{% block forheading %}<title>Enema - {{school.name}} form</title>{% endblock forheading %}



{% block roomyformheader %}
<div class="col-12">
	<h5 style="color:white;">(Fill this form only when <span style="color:orange;"> you have a lodge </span> but need a room mate.)
		If you dont have a lodge and you need a roomy , <a  href="{% url 'roomates_grid' school.name %}"><button 
		class="btn btn-secondary">click here</button></a> to find your match. 
	</h5>
</div>
{% endblock roomyformheader %}






{% block roomy %}
<div class="container">
<div class="row" style="margin-top:-6vh;">
     <div class="col-12">

	<form action="{% url 'roomy_form' school.name %}" method="post" enctype="multipart/form-data">
		{% csrf_token %}

		<div class="col-lg-12">
			<div class="info-agents color-a"style="color:white;">
			
			<div class="row">
			<div class="col-lg-4 col-sm-12">
			
                        	<strong>Name: </strong>	 
                        	<input class="color-text-a form-control afile" name="name" required=""type="text">
                      	</div>
			
			<div class="col-lg-4 col-sm-12">
			
                        	<strong>Phone: </strong>	 
                        	<input class="color-text-a form-control afile" name="phone" required=""type="number">
                      	</div>
		 
		      	 <div class="col-lg-4 col-sm-12">
                        	<strong>School: </strong>
                        	<select class="color-text-a form-control afile" name="school" required="">
                        		<option value="{{school.name}}">{{school.name}}</option>
                        	</select>
                      	</div>
                      	
                      	<div class="col-lg-4 col-sm-12">
                        	<strong>Comment: </strong>
                        	<select class="color-text-a form-control" name="comment">
                        		<option value="">I have a lodge, but i need a room mate</option>
                        	</select>
                        
                      	</div>
                      	
                      	<div class="col-lg-4 col-sm-12">
                        	<strong>Lodge rent(₦)</strong>
                        	<input class="color-text-a form-control afile" type="number" name="lodgerent"required="">
                      	</div>
                      	
                      	<div class="col-lg-4 col-sm-12">
                        	<strong> Your intended roomy will pay</strong>
                        	<select class="color-text-a form-control afile" name="sharingformula"required="">
                        		<option value="50">50%</option>
                        		<option value="40">40%</option>
                        	</select>
                        
                      	</div>
                      	 
                      	<div class="col-lg-4 col-sm-12">
                        	<strong>Lodge location</strong>
                        	 <select class="color-text-a form-control afile" name="location"required="">
                        	 	<option value="">Select your location</option>
                        	 {% for i in locations %}
                        		<option value="{{i.location}}">{{i.location}}</option>
                        	 {% endfor %}
                        	</select>
                      	</div>
                      	
                      	<div class="col-lg-4 col-sm-12">
                      		<strong>Is your lodge tiled ?: </strong>
                        	<select class="color-text-a form-control afile" name="tiled"required="">
                        		<option value="">Select an option</option>
                        		<option value="yes">yes</option>
                        		<option value="no">no</option>
                        	</select>
                          
                      	</div>
                      	<div class="col-lg-4 col-sm-12">	
                      		<strong>Is there in-house water supply ?: </strong>
                        	<select class="color-text-a form-control afile" name="water"required="">
                        		<option value="">Select an option</option>
                        		<option value="yes">yes</option>
                        		<option value="no">no</option>
                        	</select>
                      	</div>
                      	<div class="col-lg-4 col-sm-12">
                      		<strong>Is electricity available ?: </strong>
                        	<select class="color-text-a form-control afile" name="light"required="">
                        		<option value="">Select an option</option>
                        		<option value="yes">yes</option>
                        		<option value="no">no</option>
                        	</select>
                      	</div>
                      	<div class="col-lg-4 col-sm-12">	
                      		<strong>Whats the lodge type ?: </strong>
                        	<select class="color-text-a form-control afile" name="lodgetype"required="">
                        		<option value="">Select an option</option>
                        		<option value="single-room">single-room</option>
                        		<option value="self-con">self-con</option>
                        		<option value="2-bedroom-flat">2-bedroom-flat</option>
                        		<option value="3-bedroom-flat">3-bedroom-flat</option>
                        	</select>
                      	</div>
                      	<div class="col-lg-4 col-sm-12">	
                      		<strong>Your roomy's religion ? </strong>
                        	<select class="color-text-a form-control afile" name="religion"required="">
                        		<option value="">Select an option</option>
                        		<option value="christian">I need a christian</option>
                        		<option value="muslim">I need a muslim</option>
                        		<option value="Any religion">Any religion</option>
                        	</select>
                      	</div>
                      	
                      	<div class="col-lg-4 col-sm-12">
                        	<strong>Add profile picture: </strong>
                        	<input class="color-text-a form-control afile" type="file" name="pix" accept=".jpeg,.png,.jpg"required=""
                        	onchange="document.getElementById('profile-img').src = window.URL.createObjectURL(this.files[0])">
                        
                      	</div>
                     
			 
		    </div>
              
              	</div>
              	
              	
              
           </div><!--ending col-5-->
           
           <div class="col-lg-5 mb-4"style="text-align:center;">
           	
           	<img src="{% static 'assets2/img/pic.png' %}" alt="Your image wil appear here after upload" 
           	class="agent-avatar img-fluid"style="border-radius:20px;color:white;max-height:30vh;"id="profile-img">
           	
           	<div class="col-12">
              		<div class="col" style="margin-bottom:5vw">
        				<label style="cursor:pointer;" class="btn btn-secondary"for="first-image">
        				
        				<img id="img1" alt="Click here to upload your main room's image" width="150" height="150">
					
					<input type="file" 
					onchange="document.getElementById('img1').src = window.URL.createObjectURL(this.files[0])"
					accept=".jpg,.png,.jpeg" style="display:none" id="first-image"class="afile"name="pic1">
					</label>
        		</div>
              		
              		<div class="col" style="margin-bottom:5vw">
        				<label style="cursor:pointer;" class="btn btn-secondary"for="second-image">
        				
        				<img id="img2" alt="Click here to upload your room's kitchen/frontage" width="150" height="150">
					
					<input type="file" 
					onchange="document.getElementById('img2').src = window.URL.createObjectURL(this.files[0])"
					accept=".jpg,.png,.jpeg" style="display:none" id="second-image"class="afile"name="pic2">
					</label>
        		</div>
              	
              		<div class="col" style="margin-bottom:5vw">
        				<label style="cursor:pointer;" class="btn btn-secondary"for="third-image">
        				
        				<img id="img3" alt="Click here to upload your room's bathroom/toilet" width="150" height="150">
					
					<input type="file" 
					onchange="document.getElementById('img3').src = window.URL.createObjectURL(this.files[0])"
					accept=".jpg,.png,.jpeg" style="display:none" id="third-image"class="afile"name="pic3">
					</label>
        		</div>
              	
              	
              	</div>
           	
           	
           	
           	
           	
           	
           	
           	
           
              <button type="submit" class="btn btn-success"style='margin-bottom:2vh'
              	onclick="
                      
              
		 let validator = (e)=> {
		      var allfiles = document.getElementsByClassName('afile');
		
	              if(allfiles[5].value == '' || allfiles[1].value =='' || allfiles[8].value=='' || allfiles[3].value=='' ||
	              allfiles[2].value=='' || allfiles[4].value==''|| allfiles[6].value==''|| allfiles[7].value=='' ||
	               allfiles[9].value=='' || allfiles[0].value=='' || allfiles[10].value=='' || allfiles[11].value=='' || 
	               	allfiles[12].value=='' || allfiles[13].value=='' || allfiles[14].value=='')
					{
					alert('ensure all fields are filled.');
					e.preventDefault();;
					}
		      else{
		      const x = confirm('Kindly note that, you will be contacted within the next 24 hours. Your intending room mate will be meeting with you soon. Upon your approval, we will send the complete amount paid by your room mate to your account. Please note that a service fee of 3.5% applies if we carryout the full transaction on your behalf.By clicking okay, you agree to the terms of service.')
                      if(x == false){
         				e.preventDefault();;
         			    }
         		  }		
					
			
			  		}
			  
			  validator(event)
			  
			  
			  ">Submit form
         	
             </button>
             
            </div>
        
        </form>       
 </div><!--col ends-->
 </div>
 </div>
{% endblock roomy %}

