{% extends 'property-grid.html'%}

 {% block forheading %}<title>Enema - {{roomates.0.schoolname}} Roomies</title>{% endblock forheading %}




{% block content %}
 
 <!-- ======= Intro ======= -->
    <section class="intro-single">
      <div class="container"style="margin-top:-8vh;">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box ">
            
              <h4  class="title-single"style="color:white">
              	{% block roomyformheader %} 
              		Roomies around {{roomates.0.schoolname}}
              	{% endblock roomyformheader %}
              </h4>
              
<!--flashed messages-->
        {% if messages %}
        	{% for message in messages %}
        		<p {% if message.tags %} class="alert alert-success{{message.tags}}"{% endif %}
        			style="background-color:rgb(0,106,86);color:white;" >
        		 {{message}} 
        		 </p>
        	{% endfor %}
        {% endif %}
<!--end of flashed messages-->
                  
            </div>
          </div>
       
        </div>
      </div>
    </section><!-- End Intro--> 
    
    
    
    

{% block roomy %}
 <!-- ======= Roomates grid ======= -->
    <section class="property-grid grid">
      <div class="container"style="margin-top:-6vh;">
      
      
        <div class="row" ><!--------------row ------------------------------>   

        
 	{% for roomate in roomates %} 
        
        {% load static %}
        <!-----------------forloop begins------------------------------->
         <div class="col-md-4">
            <div class="card-box-a card-shadow">
 
            {% if roomate.pic %}		
              <div class="img-box-a"style="text-align:center;max-height:70vh">
                <img src="{{roomate.pic.url}}" alt="" class="img-a img-fluid" width="500vw" height="500vh">
              </div>
            {% endif %}		 
               
              <div class="card-overlay">
                <div class="card-overlay-a-content">
                  
                  <div class="card-header-a "><span class="price-a">{{roomate.id}}</span>
                    <h6 class="card-title-a mt-4">
                      <a href="{% url 'roomate_single' roomate.id %}">I stay in a {{roomate.lodgetype}}<br/>
                      <h6 style="color:orange;">located at {{roomate.location}}</h6>
                      </a>
                    </h6>
                  </div>
                  
                  <div class="card-body-a">
                    <div class="price-box d-flex">
                      <span class="price-a">My rent is ₦{{roomate.lodgerent}}</span>
                    </div>
                    
                    <a href= "{% url 'roomate_single' roomate.id %}" class="link-a" ><span style="color:rgb(20,255,50)" >CLICK HERE TO VIEW MY LODGE</span>
                      <p class="bi bi-chevron-right">You will be paying {{roomate.pricesharing}}%  of ₦{{roomate.lodgerent}} to stay with me</p>
                    </a>
                  </div>
                  
                  <div class="card-footer-a">
                  
                    <ul class="card-info d-flex justify-content-around">
                      <li>
                        <h4 class="card-info-title">Tiled</h4>
                        <span>{{roomate.tiled}}
                          
                        </span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Light</h4>
                        <span>{{roomate.light}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Water</h4>
                        <span>{{roomate.water}}</span>
                      </li>
                      <li>
                        <h4 class="card-info-title">Religion</h4>
                        <span>{{roomate.religion}}</span>
                      </li>
                    </ul>
                  </div>
                
                </div>
              </div>
            </div>
          </div>
         <!-----------------------------------endfor--> 
         {% endfor %}
       
 	
        </div><!--row ends-------------------->
        
        <div class="row">
          <div class="col-sm-12">
            <nav class="pagination-a">
              <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <span class="bi bi-chevron-left"></span>
                  </a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">2</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">3</a>
                </li>
                <li class="page-item next">
                  <a class="page-link" href="#">
                    <span class="bi bi-chevron-right"></span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </section><!-- End Property Grid Single-->.social-link>
{% endblock roomy %}


{% endblock content %}
 
 
 
 
 
