{% extends 'index.html' %}

{% load static %}
{% block content %}

 <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero d-flex align-items-center">
    <div class="container">
      <div class="row gy-4 d-flex justify-content-between">
        <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column justify-content-center">
        {% block head %}
          <h3 data-aos="fade-up">TERMS OF SERVICE </h3> 
          
 	<h4 data-aos="fade-up">	Please, kindly ensure you have read the document below before proceeding to using our platform.</h4>  
 	 {% endblock %}	
		
	{% block bodie %}	
          <div class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           	<h5 class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		1. Direct lodging <br>
           		2. Room mates
           	</h5>
           	
           	<p class="row gy-4" data-aos="fade-up" data-aos-delay="400">
           		
           		<ul>
           		<h4 style="color:skyblue">1. Direct lodging</h4>
           			<li> 
           			    Please be informed that, Enema corporations does not accept cash payments across all our branches
           			    nationwide. Any payments (for lodge inspection) must be made via our website.
           			</li>
           			
           			<li> 
           			   Enema corporations retains full authority in handling the lodging process for students 
           			   (From scheduling inspection, collection of rent, and disbursement of rent to home owner/caretaker).
           			</li>
           			<li> 
           			  Enema corporations will not be held accountable if the applying student(s) decides to transact
           			  directly with the lodge owner/room owner, and as such , we will not be held responsible in the event of 
           			  any nefarious exploitation there after.
           			</li>
           			<li> 
           			  Enema corporations will not be held responsible for any transaction/communication or events that happen
           			   without our prior knowledge and/or outside our prior agreement.
           			</li>
           			<li> 
           			   Enema corporations reserves the right to suspend/block or delete any agent account found to being used 
           			   for shady and/or illegal activities.
           			</li>
           			
           		</ul>
           		<ul>
           		<h4 style="color:skyblue">1. Room mates</h4>
           			<li> 
           			     We donot verify the psychological/mental and/or behavioural traits of room mates. Enema corporations
           			     is responsible for verifying the existence of both parties and the lodge(s) involved. 
           			</li>
           			
           			<li> 
           			   Enema corporations retains full authority in the negotiations between the room mates. Enema 
           			   corporations will not be liable to negotiations or agreements held without duly signed documents.
           			</li>
           			<li> 
           			  Enema corporations will not be held accountable if the applying student(s) decides to transact
           			  directly with the lodge owner/intending room mate, and as such , will not be held responsible in the
           			   event of nefarious activities leading to loss of any sort.
           			</li>
           			<li> 
           			  Enema corporations will not be held responsible  for any loss whatsoever that occurs in the event of any
           			   transaction/communication or event that happens without our prior documented knowledge, and/or outside
           			    our prior agreement.
           			</li>
           			<li> 
           			   Enema corporations will not be held responsible for any personal disagreements/disturbing events that
           			   occur between room mates after the day of settlement( The day both students agree,sign and pay to stay
           			    together).
           			</li>
           			<li> 
           			   Enema corporations does not refund monies or credits made for room mate matching. We will rather provide
           			    you with an alternative room mate as the case may be.
           			</li>
           			
           		</ul>
           		
           		
           		
           	</p>
           	
           	
           	
           	
  
         </div> 
         {% endblock bodie %}
        </div>

        <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
          <img src="{% static 'assets/img/banner.svg' %}" class="img-fluid mb-3 mb-lg-0" alt="">
        </div>

      </div>
    </div>
  </section><!-- End Hero Section -->





{% endblock %}
